/* Navbar */

.nav {
  min-height: 7vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;

  background-color: var(--color-primary);
  filter: drop-shadow(4px 6px 15px rgba(0, 0, 0, 0.5));
}

.logo {
  flex: 0.25;
}

.nav__list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gap);
}

.nav__list-item .nav__link {
  font-size: 24px;
  line-height: 28px;

  color: var(--color-text);
}

.auth {
  display: flex;
  gap: var(--gap);

  align-items: center;
}

.login {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;

  color: var(--color-text);
}

.register {
  padding: 0.5rem 1rem;

  font-size: 20px;
  letter-spacing: 0.05em;

  background-color: var(--color-secondary);
  border-radius: 180px;

  color: var(--color-text-outline);
}

.register:hover {
  color: var(--color-text-outline);
  box-shadow: 0 0 20px 0px rgba(235, 229, 229, 0.35);
}

/* Navbar Mobile */

.nav-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav-mobile__icons {
  align-self: flex-end;
  display: flex;
  cursor: pointer;
}

.nav-mobile__icons {
  align-self: flex-end;
  display: flex;
  cursor: pointer;
}

.menu-icons {
  font-size: 35px;
}

.nav-mobile__content {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  position: absolute;
  width: 100%;
  min-height: 300px;
  right: 0;
  /* top: 65px; */

  border-radius: 0px 0px 20px 20px;
  background-color: var(--color-primary);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-mobile__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}


@media screen and (max-width: 768px) {
  /* Navbar */
  .nav {
    max-height: 5vh;
  }

  .logo {
    /* flex: 0.1;  */
    max-width: 80px;
  }

  .nav__list,
  .auth {
    display: none;
  }

  .nav-mobile {
    display: flex;
    transition: all 1s;
  }

  .nav-mobile__content{
    display: flex; 
  }



}