@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  --font-family: 'Open Sans', sans-serif;
  --ff-regular: 400;
  --ff-semi-bold: 600;
  --ff-bold: 700;
  --ff-extra-bold: 800;

  --color-primary: #ce7171;
  --color-secondary: #112a19;
  --color-tertiary: #25753f;
  --color-stars-rating: #f6e014;

  --color-text-primary: #080721;
  --color-text-outline: #ffffff;
  --color-text-header: #7e8d1d;

  --gap: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove any style to anchors and list items */
a,
a:hover,
a:focus {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.scale {
  -webkit-transition-property: transform;
  /* Safari */
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-property: transform;
  transition-duration: 0.2s;
}

.scale:hover {
  transform: scale(0.95);
}

.section__padding {
  padding: 2rem 8.4375rem;
}

.section__margin {
  margin: 2rem 8.4375rem;
}

body {
  font-family: var(--font-family);
  font-weight: var(--ff-regular);

  color: var(--color-text-primary);
}

.header {
  background: url('/public/images/header-image.jpg') no-repeat center center/cover;
}


@media screen and (max-width: 1024px) {
  .section__padding {
    padding: 0 4.375rem;
  }

  .section__margin {
    margin: 0 4.375rem;
  }
}

@media screen and (max-width: 768px) {
  .section__padding {
    padding: 0 2.1875rem;
  }

  .section__margin {
    margin: 0 2.1875rem;
  }

  /* Navbar */
  .nav {
    max-height: 5vh;
  }

  .logo {
    /* flex: 0.1;  */
    max-width: 80px;
  }

  .nav__list,
  .auth {
    display: none;
  }

  .nav-mobile {
    display: flex;
    transition: all 1s;
  }

}

.slide-bottom {
  -webkit-animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
