/* Header */
.header-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section__content {
  background: rgb(218, 190, 190, 0.75);
  border-radius: 60px;

  width: 65%;
  min-height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-section__content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  padding-left: 1rem;
  padding-right: 1rem;

  text-align: center; 
}

.header-section__content-text p:first-child {
  font-family: var(--font-family);
  font-weight: var(--ff-semi-bold);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.05em;
}

.header-section__content-text .header-section__headline {
  font-family: var(--font-family);
  font-weight: var(--ff-extra-bold);
  font-size: 56px;
  line-height: 75px;
  letter-spacing: 0.05em;

  color: var(--color-text-header);
}

.header-section__content-text p:last-child {
  font-family: var(--font-family);
  font-weight: var(--ff-regular);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: var(--clr-text);
}

.header-section__content .generate-btn {
  padding: 1.5rem 3rem;

  background-color: var(--color-secondary);
  border-radius: 200px;

  font-family: var(--font-family);
  font-weight: var(--ff-bold);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.05em;

  color: var(--color-text-outline);

  border: none;
  outline: none;
  cursor: pointer;
}